@model IEnumerable<CRUDFINAL.Models.Compra>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Compras</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create")'">Crear Compra</button>
</p>

<table class="table table-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Editar</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Detalles</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Eliminar</button>
            </td>
        </tr>
}
    </tbody>
</table>
